<div *ngIf="toDos?.length else emptyToDos"
     cdkDropList
     (cdkDropListDropped)="dropActiveToDo($event)">
  <app-active-todo-item
    cdkDrag
    *ngFor="let toDoItem of toDos; trackBy: getDoIdentity"
    [toDo]="toDoItem" class="active-item"
    (remove)="toDoRemoved.emit(toDoItem)"
    (resolve)="toDoResolved.emit(toDoItem)">
    <button cdkDragHandle
            mat-icon-button
            color="primary">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </app-active-todo-item>
</div>

<ng-template #emptyToDos>
  <h3>{{'activeToDos.emptyList' | translate }}</h3>
</ng-template>
